<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SystemUpdate.Properties.Settings>
            <setting name="Block" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Video_Lenght" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Click_Value" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Five_Min" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>654321</value>
            </setting>
            <setting name="IsMin" serializeAs="String">
                <value>True</value>
            </setting>
        </SystemUpdate.Properties.Settings>
    </userSettings>
</configuration>